*{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    
}
body{
    background: #E5E5E5;
    
}
.header{
    background-color: #fff;
    left: 0;
    top: 0; 
    width: 100%;
    backface-visibility: hidden;
}

.container-header{
    padding: 30px 30px;
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;

}

.header img{
    width: auto;
    height: auto;
    max-width: 400px;
    max-height: 2000px;
    border-radius: 7%;
    padding: 10px 10px;
}


.container-menu{
    margin: 20px 30px;
}
 
.menu{
    list-style: none;
	flex-direction: row;
    display: flex;    
    border-bottom: black 1px solid;
    border-radius: 10px;
    box-shadow: black 1px 1px 3px;
    padding: 20px 20px;

}


.menu li a{
    text-decoration: none;
	text-transform: uppercase;
    transition: all 0.4s ease-in-out;
    font-size: xx-large;
    padding-right: 40px;
    color: #2d2d2d;
    font-weight: bold;
    margin: 10px 20px;
    
}

.menu li a:last-child{
    padding-right: 0px;
}

.menu li a:hover{
    cursor: pointer;
    text-decoration: underline;
    opacity: 0.7;
}


.container{
    background-color: #E5E5E5;
    position: relative;
}



.footer{
    background-color: #0e0e0e;
    padding: 30px 0px;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    position:absolute;
    bottom:0;
    width:100%;
    
}

.img-footer{
    display: flex;
    padding-left: 50px;
}

.img-footer-main{
    border-radius: 10px;
}

.img-footer-gama{
    padding-right: 50px;
}

.icons {
    padding: 50px;
}
.icons a i{
    padding-right: 15px;
    font-size: 50px;
    color: #fff;
    transition: all 0.2s ease-in-out;

}

.icons a i:hover{
    color: rgb(155, 155, 155);
}